.editor {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
  color: rgba(255, 255, 255, 0.85);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Microsoft YaHei', sans-serif;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  min-height: 0;
}

.bottom {
//   height: 200px;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 0;
}
